.d-block
{
    display: block;
}
table {
    width: 100%;
  }
  .filterStyle
  {
      width: 20%;
      margin-left: 80%;
  }
.mat-form-field-wrapper ng-tns-c84-0
{
    float: right;
    width: 25%;
}
.mat-form-field-wrapper{
    width: 100%;
}
.glyphicon
{
    color:red
}


.imglogo{
    width: 20px;
}

.action-btn{
    height: 20px;
}


/* .mat-raised-button{
   
} */

#addtask{
    position: relative;
    left: 718px;
    top: -3px;
}

#logout{
    position: relative;
    left: 950px;
    top: -3px;

}

.mat-elevation-z8{
    border: 2px solid black;
    /* bottom: 2px; */
    /* top: 100%; */
    position: relative;
    top: 22px;
}

/* .mat-form-field {
    position: relative!important;
    
    right: 961px!important;
    width: 450px!important;
} */