<div class="login-image">
    <div class="row">
        <mat-card class="custom-card">
            <h1><b>Please Login First</b></h1>
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" >
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Mobile No.</mat-label>
            <input matInput formControlName="username" numbersOnly>
            <mat-error *ngIf="checkError('username', 'required')">Mobile No. is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="d-block">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
            <mat-error *ngIf="checkError('password', 'required')">Password is required</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-25" [disabled]="!loginFormGroup.valid"><B>Login</B></button>
    </form>
</mat-card>
</div>
</div>