.custom-card
{
    width: 30%;
    top: 40%;
    position: absolute;
    right: 5%;
    opacity: 0.8;
    border-radius: 22px;
}


.login-image {
    background-image: url("../../../../assets/myimage.jpeg"); 
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mat-card {
    background: gray;
    color: rgba(0,0,0,.87);
  }