.remove-input-value
{
    position: absolute;
    top: 260px;
    right: 865px;
    color: red;
    cursor: pointer;
}
.mat-column-Title {
    flex: 0 0 12% !important;
}
.mat-column-CustomerName{
    flex: 0 0 10% !important;
}
.mat-column-AssignedBy {
    flex: 0 0 09% !important;
}

.mat-column-AssignedDate {
    flex: 0 0 11% !important;
}

.mat-column-DueDate {
    flex: 0 0 10% !important;
}

.mat-column-Priority {
    flex: 0 0 7% !important;
}

.mat-column-Status {
    flex: 0 0 10% !important;
}
.mat-column-Action {
    flex: 0 0 30% !important;
}

#cdk-overlay-1{
    max-width: 60vw;
    width: 600px;
    position: static;
    /* height: 151px; */
    padding: -25px;
    border: 2px solid tomato;
    border-radius: 6px;
}
