<div class="container">
    <h3 style="color: blue;">Add Your Task Here</h3>
    <div class="row-12">
         <form [formGroup]="addTaskFormGroup" >    <!--   to implement validations we use formgroup  -->
            <div class="col-md-12">
                <mat-form-field appearance="standard" class="d-block">
                    <mat-label>Title</mat-label>
                    <input appAlphabetOnly matInput formControlName="Title" placeholder="Title" >
                    <mat-error *ngIf="checkError('Title', 'required')">Title is required</mat-error>
                    <mat-error *ngIf="checkError('Title', 'pattern')">Only Alphabetical is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="standard" class="d-block">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="Description" placeholder="Description">
                    <mat-error *ngIf="checkError('Description', 'required')">Description is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="mat-form-field-fluid w-100 paddingRight">
                    <input matInput placeholder="Attach File" formControlName="Image"
                        [value]="displayFileName" (click)="openFile()" readonly />
                    <input #imageFileInput id="imageFileInput" type="file"
                        (change)="handleFileSelect($event.target)" hidden>
                        <mat-error *ngIf="checkError('Image', 'required')">Attach File is required</mat-error>
                </mat-form-field>
                <div class="remove-input-value" (click)="removeFile()" *ngIf="displayFileName">Remove
                </div>
            </div>
            
            <div class="row px-3">
                <div class="col-md-6">
                    <mat-form-field class="mat-form-field-fluid w-100">
                        <mat-select placeholder="Lead/Customer Name" formControlName="LeadId">
                            <mat-form-field class="mat-form-field-fluid w-100 px-3 mt-2">
                                <input matInput placeholder="Search" #searchlead (keyup)="searchManager(searchlead.value,'lead')" placeholder="Search" autocomplete="off">
                            </mat-form-field>
                            <mat-option *ngFor="let lead of leadFilter" [value]="lead.Id">
                                {{lead.LeadName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="checkError('LeadId', 'required')">Lead/Customer Name is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="mat-form-field-fluid w-100">
                        <input matInput [matDatepicker]="picker" placeholder="Select Due Date" [min]="current"
                            formControlName="TaskEndDateDisplay" (click)="picker.open()" readonly/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="checkError('TaskEndDateDisplay', 'required')">Due Date is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-6">
                <mat-form-field class="mat-form-field-fluid w-100">
                    <mat-select placeholder="Select Priority" formControlName="Priority">
                        <mat-option value="High">High Priority</mat-option>
                        <mat-option value="Low">Low Priority</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('Priority', 'required')">Priority is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field  class="w-100">
                    <mat-label>Users</mat-label>
                    <mat-select formControlName="UserIds" multiple>
                        <mat-select-trigger>
                            
                            <span *ngIf="selectLength">
                                {{selectLength}} Users Selected 
                            </span>
                          </mat-select-trigger>
                        <mat-form-field class="mat-form-field-fluid w-100 px-3 mt-2">
                            <input matInput placeholder="Search" #searchUser (keyup)="searchManager(searchUser.value,'user')" placeholder="Search" autocomplete="off">
                        </mat-form-field>
                      <mat-option *ngFor="let user of userFilter" [value]="user.UserId">{{user.Name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('UserIds', 'required')">Users is required</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field  class="w-100">
                    <mat-label>CC Members</mat-label>
                    <mat-select formControlName="TaskOwners" multiple>
                        <mat-form-field class="mat-form-field-fluid w-100 px-3 mt-2">
                            <input matInput placeholder="Search" #searchMember (keyup)="searchManager(searchMember.value,'member')" placeholder="Search" autocomplete="off">
                        </mat-form-field>
                      <mat-option *ngFor="let members of  memberFilter" [value]="members.UserId">{{members.Name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="checkError('TaskOwners', 'required')">CC Members is required</mat-error>
                  </mat-form-field>
            </div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <button mat-raised-button (click)="canExit()">Cancel</button>
            <button style="position: relative; left: 20px;" mat-raised-button [disabled]="!addTaskFormGroup.valid || viewLoading" (click)="submit()"
                color="primary" class="float-right">Save</button>
        </form>
    </div>
</div>