/* You can add global styles to this file, and also import other style files */


@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~ngx-toastr/toastr';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.paddingRight .mat-form-field-infix
{
    padding-right: 60px !important;
}